@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body,
html,
#root {
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #393e46;
}

.board {
	height: 496px;
	border-radius: 5px;
	width: 496px;
	background-color: #abc;
}

table {
	width: 100%;
	height: 100%;
}

td {
	box-shadow: 0px 0px 0px 1px black;
	display: table-cell;
	height: 58px;
	width: 58px;
	/* vertical-align: middle; */
}
.oddCol {
	background-color: #fbfbfb;
}
.evenCol {
	background-color: rgb(173, 204, 235);
}
.selCol {
	background-color: rgba(125, 125, 125, 0.5);
}
.evenCol,
.oddCol {
	overflow: visible;
	position: relative;
}
.piece {
	width: 100%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
	background-size: 100% 100%;
	color: white;
	/* border: 1px solid blue; */
	background-color: transparent;
	/* position: absolute; */
	position: relative;
}

.usernameSet {
	background: #abc;
	width: fit-content;
}
